In [10]:
import pandas as pd

In [11]:
sim= pd.read_csv('../recommendation_matrix.csv') 
sim_1 = pd.read_csv('../recommendation_matrix_wo_tfidf.csv')
sim_2 = pd.read_csv('../recommendation_matrix_w_lem.csv')
sim_3 = pd.read_csv('../recommendation_matrix_w_lem_wo_tfidf.csv')
df = pd.read_csv('../data.csv')
sim_skills = pd.read_csv('../recommendation_df_skills.csv')

Thus we have the following dataframes loaded:

sim : similarity matrix with stemming and tfidf

sim_1 : similarity matrix made without using tfidf but with stemming

sim_2 : similarity matrix made with lemmatizing and tfidf

sim_3 : similarity matrix made with lemmatization and without tfidf

sim_skills : similarity matrix made using skills column and with stemming but without tfidf

df : dataframe

In [12]:
# setting id column as index
sim.set_index('member_id', inplace = True)
sim_1.set_index('member_id', inplace = True)
sim_2.set_index('member_id', inplace = True)
sim_3.set_index('member_id', inplace = True)
sim_skills.set_index('member_id', inplace = True)

In [13]:
def make_recs(sim, df, i, n):
    '''
    returns a dataframe of top n recommendations, based on the similarity matrix provided and dataframe 
    provided, for a user who viewed the internship with the ith ID.
    
    INPUT:
    sim - similarity matrix(dataframe)
    df - original dataframe with all the data
    i - id of the internship that was made by the user
    n - top n recommendations to be made to the user 
    
    OUTPUT:
    recs_df - dataframe consisting of the recommended internships
    
    '''
    ith_series = sim.loc[:,str(i)]
    ith_series = ith_series.sort_values(ascending = False)
    recs = ith_series.head(n+1).index.tolist()
    
    # what might happen is that multiple elements attain maximum similarity value. Then it is possible that 
    # we don't get i in our recs. so for that the below is done. 
    if i in recs: 
        recs.remove(i)
    else:
        recs = recs[:-1]
        
    # below ensures that the order of the recommendations is as in recs cause otherwise the use of .isin
    # reorders recs in the way they appear in df, i.e, in ascending order
    recs_df = df[df.member_id.isin(recs)].set_index('member_id').T[recs].T.reset_index()
    
    return recs_df

In [16]:
df[df.member_id == 550489359]

,Unnamed: 0,member_id,profile_url,full_name,headline,location_name,address,current_company,current_company_position,organization_1,...,organization_title_6,organization_start_6,organization_end_6,education_1,education_degree_1,education_2,education_degree_2,education_3,education_degree_3,skills
0,0,550489359,https://www.linkedin.com/in/baycii/,Baycii Wassim Derbel,Computer Engineer & Data Scientist | Specializ...,"Ville de Paris, Ãle-de-France, France","Ville de Paris, Ãle-de-France, France",Kaisens Data,Data Scientist Intern,Kaisens Data,...,Stagiaire,2020.07,2021.06,UniversitÃ© Gustave Eiffel,"Master of Research, Intelligent Systems and Ap...",Ecole SupÃ©rieure PrivÃ©e d'IngÃ©nierie et de ...,"National diploma of Engineer certified by CTI,...",LycÃ©e Ennasr,"High School Diploma, Mathematics",Artificial Intelligence (AI) : Web Solutions :...

Recommandation with headline section

In [17]:
make_recs(sim, df,550489359,3)

,member_id,Unnamed: 0,profile_url,full_name,headline,location_name,address,current_company,current_company_position,organization_1,...,organization_title_6,organization_start_6,organization_end_6,education_1,education_degree_1,education_2,education_degree_2,education_3,education_degree_3,skills
0,120158679,18,https://www.linkedin.com/in/malek-najeh-3332a834/,Malek Najeh,Ph.D. data scientist | business intelligence e...,"Tunis, Tunisie","Tunis, Tunisie",Infor,Data Scientist,Infor,...,University Teacher,2011.09,2012.06,Ecole Nationale d'IngÃ©nieurs de Tunis,"Master degree , Automatique et traitement de s...",Institut supÃ©rieur d'informatique,"DUT, software engineering",Ecole SupÃ©rieure PrivÃ©e d'IngÃ©nierie et de ...,"DiplÃ´me d'ingÃ©nieur, Business intelligence",C : C++ : 0C# : JavaScript : HTML : ASP.NET MV...
1,777742297,64,https://www.linkedin.com/in/louay-sakhri-42156...,Louay Sakhri,Data Analyst | Data Scientist | Artificial Int...,"Tunis, Tunis, Tunisie","Tunis, Tunis, Tunisie",Keyrus,Business-analyst,Keyrus,...,Stagiaire,2020.07,2021.06,ESB : Esprit School of Business,Master in Business Analytics - BA,FacultÃ© des Sciences Economiques et de Gestio...,"Licence, Informatique de Gestion",Unknown,"BaccalaurÃ©at, MathÃ©matiques",NoSQL : Hadoop : Python (langage de programmat...
2,640871930,70,https://www.linkedin.com/in/firas-yahia-b62762...,Firas Yahia,Business intelligence Consultant and Data scie...,"Gafsa, Tunisie","Gafsa, Tunisie",360Medlink Inc,Business intelligence Consultant and Data scie...,360Medlink Inc,...,Stagiaire,2020.07,2021.06,Ecole SupÃ©rieure PrivÃ©e d'IngÃ©nierie et de ...,"DiplÃ´me d'ingÃ©nieur, Informatique",facultÃ© des sciences de Gafsa,"Licence science informatique, Sciences informa...",Unknown,"BaccalaurÃ©at, MathÃ©matiques",HTML : MySQL : PHP : SQL : SQL Server Manageme...

In [19]:
make_recs(sim_1, df,550489359,3)

,member_id,Unnamed: 0,profile_url,full_name,headline,location_name,address,current_company,current_company_position,organization_1,...,organization_title_6,organization_start_6,organization_end_6,education_1,education_degree_1,education_2,education_degree_2,education_3,education_degree_3,skills
0,777742297,64,https://www.linkedin.com/in/louay-sakhri-42156...,Louay Sakhri,Data Analyst | Data Scientist | Artificial Int...,"Tunis, Tunis, Tunisie","Tunis, Tunis, Tunisie",Keyrus,Business-analyst,Keyrus,...,Stagiaire,2020.07,2021.06,ESB : Esprit School of Business,Master in Business Analytics - BA,FacultÃ© des Sciences Economiques et de Gestio...,"Licence, Informatique de Gestion",Unknown,"BaccalaurÃ©at, MathÃ©matiques",NoSQL : Hadoop : Python (langage de programmat...
1,662152216,8,https://www.linkedin.com/in/laroussi-mohamed/,Laroussi Mohamed,Data Scientist | Data Engineer & Software Eng...,"Villemomble, Ãle-de-France, France","Villemomble, Ãle-de-France, France","ITSS GLOBAL ""Information Technology Solutions ...",T24 technical consultant,"ITSS GLOBAL ""Information Technology Solutions ...",...,Agent administratif,2012.12,2014.04,Ecole SupÃ©rieure PrivÃ©e d'IngÃ©nierie et de ...,"Master of Science - MS, Computer Science",ecole SupÃ©rieure des Technologies de l'Inform...,"Licence, systÃ¨mes informatiques et logiciels",Unknown,"BaccalaurÃ©at, MathÃ©matiques",Agile Methodologies : Data Science : C++ : Jav...
2,120158679,18,https://www.linkedin.com/in/malek-najeh-3332a834/,Malek Najeh,Ph.D. data scientist | business intelligence e...,"Tunis, Tunisie","Tunis, Tunisie",Infor,Data Scientist,Infor,...,University Teacher,2011.09,2012.06,Ecole Nationale d'IngÃ©nieurs de Tunis,"Master degree , Automatique et traitement de s...",Institut supÃ©rieur d'informatique,"DUT, software engineering",Ecole SupÃ©rieure PrivÃ©e d'IngÃ©nierie et de ...,"DiplÃ´me d'ingÃ©nieur, Business intelligence",C : C++ : 0C# : JavaScript : HTML : ASP.NET MV...

In [21]:
make_recs(sim_3, df,550489359,2)

,member_id,Unnamed: 0,profile_url,full_name,headline,location_name,address,current_company,current_company_position,organization_1,...,organization_title_6,organization_start_6,organization_end_6,education_1,education_degree_1,education_2,education_degree_2,education_3,education_degree_3,skills
0,662152216,8,https://www.linkedin.com/in/laroussi-mohamed/,Laroussi Mohamed,Data Scientist | Data Engineer & Software Eng...,"Villemomble, Ãle-de-France, France","Villemomble, Ãle-de-France, France","ITSS GLOBAL ""Information Technology Solutions ...",T24 technical consultant,"ITSS GLOBAL ""Information Technology Solutions ...",...,Agent administratif,2012.12,2014.04,Ecole SupÃ©rieure PrivÃ©e d'IngÃ©nierie et de ...,"Master of Science - MS, Computer Science",ecole SupÃ©rieure des Technologies de l'Inform...,"Licence, systÃ¨mes informatiques et logiciels",Unknown,"BaccalaurÃ©at, MathÃ©matiques",Agile Methodologies : Data Science : C++ : Jav...
1,777742297,64,https://www.linkedin.com/in/louay-sakhri-42156...,Louay Sakhri,Data Analyst | Data Scientist | Artificial Int...,"Tunis, Tunis, Tunisie","Tunis, Tunis, Tunisie",Keyrus,Business-analyst,Keyrus,...,Stagiaire,2020.07,2021.06,ESB : Esprit School of Business,Master in Business Analytics - BA,FacultÃ© des Sciences Economiques et de Gestio...,"Licence, Informatique de Gestion",Unknown,"BaccalaurÃ©at, MathÃ©matiques",NoSQL : Hadoop : Python (langage de programmat...

Recommandation with Skills

In [23]:
make_recs(sim_skills, df,550489359,3)

,member_id,Unnamed: 0,profile_url,full_name,headline,location_name,address,current_company,current_company_position,organization_1,...,organization_title_6,organization_start_6,organization_end_6,education_1,education_degree_1,education_2,education_degree_2,education_3,education_degree_3,skills
0,683969930,36,https://www.linkedin.com/in/benmhannakoussay/,Koussay Mhanna,Data Scientist,"Tunis, Tunisie","Tunis, Tunisie",Sagemcom,IngÃ©nieur,Orange Tunisie,...,Business Intelligence Academic Project,2019.09,2020.01,Ecole SupÃ©rieure PrivÃ©e d'IngÃ©nierie et de ...,"Computer Science Engineer's degree, Data Science",LycÃ©e Les PÃ¨res Blancs,"High School Diploma, Mathematics",Unknown,"BaccalaurÃ©at, MathÃ©matiques",Artificial Intelligence (AI) : Big Data : Data...
1,613518184,25,https://www.linkedin.com/in/chaymabennacer/,Chayma Nacer,Data Scientist,"Tunis, Tunisie","Tunis, Tunisie",Sagemcom,IngÃ©nieur,Orange Tunisie,...,Covid-19 cases analysis academic project,2020.03,2020.06,Ecole SupÃ©rieure PrivÃ©e d'IngÃ©nierie et de ...,"Engineer's degree, Computer Science",Ecole Nationale d'IngÃ©nieurs de Tunis,Unknown,Unknown,"BaccalaurÃ©at, MathÃ©matiques",Artificial Intelligence (AI) : Big Data : Data...
2,676816546,100,https://www.linkedin.com/in/marwa-guemira-2aa7...,Marwa Guemira,Data Scientist at Save Your Wardrobe,"El Omrane, Tunis, Tunisie","El Omrane, Tunis, Tunisie",Save Your Wardrobe,Data scientist,Save Your Wardrobe,...,Stagiaire,2018.01,2018.05,Institut du Risque et de lâAssurance du Mans,Master data science pour l'actuariat,Institut SupÃ©rieur des Technologies de l'Info...,"Licence appliquÃ©e en informatique, rÃ©seaux e...",LycÃ©e pilote des arts el omrane,"BaccalaurÃ©at, MathÃ©matiques",Artificial Intelligence (AI) : Big Data : Linu...